.cadastro{
height:600px;
width: 500px;
background-color: #ad815c;
margin-top: 23px;
margin-bottom: 10px;
border-radius: 0px;
display: flex;
justify-content: space-between;
flex-direction: column;
align-items: center;
}

.imput {
    background-color: #F2C69B;
    color: black;
}

.imput2 {
    background-color: #F2C69B;
    color: black;
}

.imput3 {
    background-color: #F2C69B;
    color: black;
}

.imput4 {
    background-color: #F2C69B;
    color: black;
}

.imput5 {
    background-color: #F2C69B;
    color: black;
}

.imput6 {
    background-color: #F2C69B;
    color: black;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 100px;
    margin-bottom: 35px;
}

h1{
 margin-bottom: 60px;
}

input{
    width: 300px;
    height: 37px;
    display: flex;
    border-radius: 0px;
    margin-left: 90px;
}

.button1{
    width: 90px;
    height: 37px;
    display: flex;
    border-radius:0px;
    margin-left: 90px;
    background-color: #13990c;
    
}

button:hover{
    background-color: #098103;
}

img {
    max-width: 330px;
    margin-top: 30px;
}