.footer {
    background-color: #F2C69B;
    color:  #7F5837;
    text-align: center;
    height: 150px;
}

.social_list {
    padding-top: 40px;
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.social_list li {
    margin: 0 1em;
}

.social_list li:hover {
   color: #F8EBDE;
}

.social_list svg {
    font-size: 1.5em;
    cursor: pointer;
 }

.copy_right {
    margin-top: 2em;
}

.copy_right span {
    font-weight: bold;
    color: #F8EBDE;
}